 <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">ABOUT ME </h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                            <p class="pre-wrap lead" style="text-align:justify;" >   I was born in 1997. I am second child of a family. I was always curious about how the nature works. My childhood passed with breaking somethings to learn how it works. When I was high school, ı was curious about electronic devices. </p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="pre-wrap lead" style="text-align:justify;">    This curiocity took me to the Eskişehir Osmangazi Dept. of Electric and Electronics enginnering  in 2015. Now, I am senior year of my univercity and interested in software, robots and lots of things about engineering...</p>
                    </div>
                </div>
            </div>
        </section>