{% extends 'Layout.html' %}


{% block first %}
{% include "includes/navbar.html" %}
{% endblock first %}

{% block second %}
{% include "includes/enterancegreen.html" %}
{% endblock second %}

{% block third %}
{% include "includes/portfolio.html" %}
{% endblock third %}

{% block fourth %}
{% include "includes/about.html" %}
{% endblock fourth %}

{% block fifth %}
{% include "includes/contact.html" %}
{% endblock fifth %}

{% block sixth %}
{% include "includes/bottom.html" %}
{% endblock sixth %}
